{
  "extends": "standard",
  "rules": {
    "indent": 2,
    "semi": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never" }],
    "generator-star-spacing": [2, "after"],
    "no-multiple-empty-lines": 0,
    "one-var": 0,
    "no-unused-vars": 0,
    "eqeqeq": 0,
    "padded-blocks": 0,
    "no-useless-escape": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "chrome": true,
    "axios": true,
    "OAuth": true,
    "async": true,
    "noCacheSuffix": true,
    "TOKEN_KEY_TOPCODER": true,
    "vex": true,
    "GithubVendor": true,
    "TC_ENDPOINT_DEV": true,
    "TC_ENDPOINT_PROD": true,
    "OAUTH_API_KEY": true,
    "BaseVendor": true,
    "GitlabVendor": true,
    "JiraVendor": true,
    "getProjectId": true,
    "removeChromeStorage": true,
    "checkTopCoderAuthentication": true,
    "setChromeStorage": true,
    "getTCEndpoint": true,
    "OAUTH_APPS": true,
    "DEFAULT_GITHUB_DOMAIN": true,
    "DEFAULT_GITLAB_DOMAIN": true,
    "DEFAULT_JIRA_DOMAIN": true,
    "DOMAIN_KEY_GITHUB": true,
    "DOMAIN_KEY_GITLAB": true,
    "DOMAIN_KEY_JIRA": true,
    "OAuthIGService": true,
    "TC_OAUTH_TOKEN_KEY": true,
    "jwt_decode": true,
    "ENVIRONMENT": true,
    "TC_OAUTH_URL_KEY": true,
    "TC_OAUTH_REDIRECT_URI_KEY": true,
    "TC_OAUTH_CLIENT_ID_KEY": true,
    "DEFAULT_TC_OAUTH_URL": true,
    "DEFAULT_TC_OAUTH_REDIRECT_URI": true,
    "DEFAULT_TC_OAUTH_CLIENT_ID": true
  }
}
