#optionWrapper{
	border: 1px solid #c0c0c0;
	padding: 2.5%;
	margin: 0 1%;
	border-radius: 5px;
}
.git-repo,.project-id{
	margin-right: 0.8%;
}
.title{
	margin: 1%;
}
.title h1{
	display: inline-block;
	position: relative;
	top: -20px;
	margin-left: 15px;
}
input{
	min-height:34px;
	padding:7px 8px;
	font-size:13px;
	color:#333;
	vertical-align:middle;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:right 8px center;
	border:1px solid #ccc;
	border-radius:3px;
	outline:none;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.075)
}
input:focus{
	border-color:#51a7e8;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}
button{
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}
.btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background-color: #60b044;
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	border-color: #5ca941;
}
.delete,.delete-all{
	color: #900;
}
.delete:disabled,.delete-all:disabled{
	color: #c0c0c0!important;
	cursor: default!important;
	background: #f0f0f0!important;
}
#addWrapper{
	padding: 1% 1% 2% 1%;
	border-bottom:1px solid #e0e0e0;
}
#addWrapper h3{
	position: relative;
}
#deleteWrapper{
	padding: 0.1% 1%;
}
#deleteWrapper input{
	width: 500px;
}
#mapWrapper{
	padding: 1%;
}
#mapWrapper div{
	margin: 0.5% 0%;
}
#add,#addMass,.delete-all{
	margin-right:1%; 
}
.remove{
	position: relative;
	bottom: -5px;
	margin-left: 0.8%;
	cursor: pointer;
}